/*
	Read in the name of Allah
*/


/* Selection colours (easy to forget) */

::selection 	 	{background: rgb(255,255,158);}
::-moz-selection 	{background: rgb(255,255,158);}
img::selection 		{background: transparent;}
img::-moz-selection	{background: transparent;}
body {-webkit-tap-highlight-color: rgb(255,255,158);}




/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	/* .main_column {width: 750px;} */
	#admin_login_page .login_div {
		width: 45%;
		min-height: 220px;
		margin: -110px 0 0 -22.5%;
		padding: 5px;
	}	

}



/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 767px) {
	/* .main_column {width: 300px;} */
	#admin_login_page .login_div {
		width: 65%;
		min-height: 155px;
		margin: -77.5px 0 0 -32.5%;
		padding: 5px;
	}
	#admin_login_page .login_div .login_tile {
		font-size: 16px;
		margin-bottom: 8px;	
	}
	#admin_login_page .login_div form {
		padding: 0px 5px;	
	}	
	#admin_login_page .login_div form .form-control {
		height: 24px;
		font-size: 14px;
	}
	#admin_login_page .login_div button {	
		width: 40%;	
		font-size: 14px;
		padding: 0px;
	}
}



/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	/* .main_column {width: 450px;} */
	#admin_login_page .login_div {
		width: 55%;
		min-height: 160px;
		margin: -80px 0 0 -27.5%;
		padding: 5px;
	}	
}



/*	Retina media query.
	Overrides styles for devices with a 
	device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */

@media 
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-device-pixel-ratio: 2) {

}